<main>
    <header>
        <div class="toolbox">
            <a href="/create/" class="button btnCreate">Create new Note</a>
            <a href="./?style={{#if config.style}}false{{else}}true{{/if}}" class="button {{#if config.style}}active{{/if}}">Style Switcher</a>
        </div>
        <div class="toolbox">
            <a href="./?sortBy=dueDate{{#ifeq    config.sortBy 'dueDate_asc'   }}_desc{{else}}_asc{{/ifeq}}" class="button {{#ifStartsWith config.sortBy 'dueDate'}}   active{{/ifStartsWith}}">By finished Date</a>
            <a href="./?sortBy=createDate{{#ifeq config.sortBy 'createDate_asc'}}_desc{{else}}_asc{{/ifeq}}" class="button {{#ifStartsWith config.sortBy 'createDate'}}active{{/ifStartsWith}}">By created Date</a>
            <a href="./?sortBy=importance{{#ifeq config.sortBy 'importance_asc'}}_desc{{else}}_asc{{/ifeq}}" class="button {{#ifStartsWith config.sortBy 'importance'}}active{{/ifStartsWith}}">By Importance</a>
        </div>
        <div class="toolbox">
            <a href="./?filter={{#if config.filter}}false{{else}}true{{/if}}" class="button {{#if config.filter}}active{{/if}}">
                {{#if config.filter}}Anzeigen{{else}}Verbergen{{/if}}
            </a>
        </div>
    </header>
    {{#if notes}}
        {{#each notes}}
            <section class="content">
                <div class="toolbox">
                    <div class="element2">{{dueDate}}</div>
                    <div class="element1 title">{{title}}</div>
                    <div class="element2 star">
                        <div class="star_box">
                            {{#repeat rating}}
                                <span class="icon-star-full"></span>
                            {{/repeat}}
                        </div>
                    </div>
                </div>
                <div class="toolbox">
                    <div class="element2">
                        <label class="first">
                            <span>Erledigt</span>
                            <input type="checkbox" {{#if done}} checked{{/if}} disabled>
                        </label>
                    </div>
                    <div class="element1">{{content}}</div>
                    <a href="./{{_id}}">
                        <div class="element2 button">edit</div>
                    </a>
                </div>
            </section>
        {{/each}}
    {{else}}
        <div class="noNotes">
            <div>Keine Notizen!</div>
        </div>
    {{/if}}

</main>
