<main>
    <header>
        <div class="toolbox">
            <a href="/create/" class="button btnCreate">Create new Note</a>
            <form method="post">
                <button type="submit" id="btnStyleSwitcher" formaction="/config/set/toggleStyle">Style Switcher</button>
            </form>
        </div>
        <div class="toolbox">
            <form method="post">
                <button type="submit" id="btnSortByFinish" formaction="/config/set/sort/duedate"
                        {{#ifeq config.sortBy 'duedate'}}class="active"{{/ifeq}}>By finish Date
                </button>
                <button type="submit" id="btnSortByDateCreated" formaction="/config/set/sort/created"
                        {{#ifeq config.sortBy 'created'}}class="active"{{/ifeq}}>By created Date
                </button>
                <button type="submit" id="btnSortByImportance" formaction="/config/set/sort/importance"
                        {{#ifeq config.sortBy 'importance'}}class="active"{{/ifeq}}>By Importance
                </button>
                <button type="submit" id="btnHideShowCompleted" formaction="/config/set/toggleHideComplete">
                    Fertige {{#if
                        config.hideComplete}}anzeigen{{else}}verbergen{{/if}}</button>
            </form>
        </div>
    </header>
    {{#if notes}}
        {{#each notes}}
            <section class="content">
                <div class="toolbox">
                    <div class="element2">{{dueDate}}</div>
                    <div class="element1 title">{{title}}</div>
                    <div class="element2 star">
                        <div class="star_box">
                            {{#repeat rating}}
                                <span class="icon-star-full"></span>
                            {{/repeat}}
                        </div>
                    </div>
                </div>
                <div class="toolbox">
                    <div class="element2">
                        <label class="first">
                            <input type="checkbox" {{#if done}} checked{{/if}} disabled>
                            <span>Done</span>
                        </label>
                    </div>
                    <div class="element1">{{content}}</div>
                    <a href="./{{_id}}">
                        <div class="element2 button">edit</div>
                    </a>
                </div>
            </section>
        {{/each}}
    {{else}}
        <div class="noNotes">
            <div>Keine Notizen!</div>
        </div>
    {{/if}}

</main>
